.btn,
a.btn {
	display: flex;
	align-items: center;
	column-gap: 10px;

	padding: 10px 20px;
	border-radius: 80px;
	background-color: #039be5;

	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #0370a6;
	}

	&--wide {
		width: 100%;
	}
}

.btn-link, a.btn-link {
	display: inline-block;
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 6px 10px;
		
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	color: #000000;
	text-decoration: none;

	display: flex;
	column-gap: 5px;
	align-items: center;

	transition: background-color 0.2s ease-in;

	@include mobile {
		padding: 10px;
	}

	&:hover {
		background-color: #d4cfcf;
	}
}