.info-block {
    padding: 30px 30px 50px;
    background-color: #fbfbfb;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #000;

    &--accent {
        background-color: #f1f8fb;
    }

    &__title {
        margin-bottom: 20px;
    }

   

    p + p {
        margin-top: 15px;
    }
}