.logo {
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	max-width: 100%; //или так
}

a.logo {
	text-decoration: none;
}

.logo__title {
	font-weight: 800;
	font-size: 32px;
	color: #000;
	line-height: 1; 

	// @include mobile {
	// 	font-size: 30px;
	// }
}

.logo__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6;
	color: #6b9db9;
}