.main {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 80px;

    @include tablet {
        margin-bottom: 60px;
    }

    @include mobile {
        row-gap: 40px;
        margin-bottom: 40px;
    }
}

.main__info {
    
}

.main__portfolio {
    height: 600px;
}

.main__cta {
    height: 600px;
}